.profile {
  display: flex;
  justify-content: center;
  @media (min-width: 1044px) {
    margin-right: 10rem;
    .profile-img {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 1043px) {
    .profile-img {
      margin-top: 1rem;
      width: 380px;
      height: 500px;
    }
  }
}
